<h2>Edit Weekend</h2>

<%= render "form.html", Map.put(assigns, :action, event_weekend_path(@conn, :update, @event.id, @weekend.id)) %>

<span><%= link "Back", to: event_weekend_path(@conn, :index, @event.id) %></span>
