<h2>Neuen Wochenende hinzufügen</h2>

<%= render "form.html", Map.put(assigns, :action, event_weekend_path(@conn, :create, @event)) %>

<span>
    <%= link to: event_weekend_path(@conn, :index, @event), class: "btn btn-default" do %>
    <i class="fa fa-step-backward" aria-hidden="true"></i> Zurück
    <% end %>
</span>

