<!DOCTYPE html>
<html>

<head>
    <title>Schröter Schichtplan Mosel-Wein-Nachts-Markt 2017</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
<div class="container">
    <%= for event <- @events  do %>
    <%= render "event.html", event: event %>
    <% end %>
</div>
</body>

</html>

