<!DOCTYPE html>
<html>

<head>
    <title>Schröter Schichtplan Mosel-Wein-Nachts-Markt 2017</title>
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container">

    <%= for event <- @events  do %>
    <%= render "event.html", event: event %>
    <% end %>
    <br />
    <div class="metadata">
        <p>Stand: <%= current_datetime_as_string() %></p>
        <p>http://mwnm.stadtschroeter.de</p>
    </div>

</div>
</body>

</html>

