@import "compass";
@import "compass/reset";
@import "susy";
@import "breakpoint";

$susy: (
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: inside,
        box-sizing: border-box,
);

// Variables
$headline-font: 'Work Sans', sans-serif;
$main-font: 'Taviraj', serif;

body {
  @include box-sizing(border-box);
  font-family: $main-font;
  font-size: 18px;
}

$phone: screen 320px 639px, -webkit-min-device-pixel-ratio 2;
$iPad: screen 640px 959px;
$desktop: 960px;

h1 {
  font-size: 200%;
  text-align: center;
  font-family: $headline-font;
}

h2 {
  font-size: 160%;
  font-family: $headline-font;
  margin-bottom: 1em;
}

.container {
  margin: 10px;
  width: 320px;

  @include container;

  @include breakpoint($iPad) {
    width: 960px;
  }

  @include breakpoint($desktop) {
    width: 960px;
  }

  .weekend {
    @include span(12 of 12);
    //background-color: darkgrey;

    .weekend-title {
      float: right;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    @include breakpoint($iPad) {
      @include span(6 of 12);
    }

    @include breakpoint($desktop) {
      @include span(4 of 12);
    }
  }

  .day {
    @include span(12 of 12);
    border: 1px solid black;
    @include box-shadow(0px 0px 5px);
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    //background-color: grey;

    span.day-title {
      width: 100%;
      //padding-left: gutters(1/4);
      text-align: center;
      display: block;
      margin-right: auto;
      margin-left: auto;
      font-size: 120%;
    }

    .shift {
      border: 1px solid black;
      @include span(12 of 12);

      .shift-title {
        width: span(12 of 12);
        float: left;
        background-color: #efefef;
        border-bottom: 2px double black;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-bottom: 0.2em;
      }
      .person-role {
        @include span(4 of 12);
        border-right: 2px dotted darkgrey;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
      }

      .empty-shift-slot {
        background: red;
        color: white;
      }

      .person-name {
        @include span(8 of 12 last);
        padding-left: 10px;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
      }
    }
  }
}
