<h2>Neue Person hinzufügen</h2>

<%= render "form.html", Map.put(assigns, :action, person_path(@conn, :create)) %>

<span>
    <%= link to: person_path(@conn, :index), class: "btn btn-default" do %>
    <i class="fa fa-step-backward" aria-hidden="true"></i> Zurück
    <% end %>
</span>
