<h2>Tag editieren</h2>

<%= render "form.html", Map.put(assigns, :action, event_weekend_day_path(@conn, :update, @event_id, @weekend_id, @day)) %>

<span>
    <%= link to: event_weekend_day_path(@conn, :index, @event_id, @weekend_id), class: "btn btn-default" do %>
    <i class="fa fa-step-backward" aria-hidden="true"></i> Zurück
    <% end %>
</span>

