<h2>New Day</h2>

<%= render "form.html", Map.put(assigns, :action, event_weekend_day_path(@conn, :create, @event_id, @weekend_id)) %>

<span><%= link "Back", to: event_weekend_day_path(@conn, :index, @event_id, @weekend_id) %></span>
