<div class="day"><span class="day-title"><%= day_of_week(@day) %></span>
    <%= for shift <- @day.shifts do %>
        <%= render "shift.html", shift: shift, f: @f, person_id: @person_id %>
    <% end %>
</div>