<h2>Verfügbarkeit bearbeiten</h2>

<%= render "form.html", Map.put(assigns, :update_avl, person_path(@conn, :update, @person)) %>

<span><%= link "Back", to: availability_path(@conn, :index) %></span>
