<h2>Liste aller Verfügbarer Personen</h2>

<table class="table">
  <thead>
    <tr>
      <th>Eventname</th>
    </tr>
  </thead>
  <tbody>
<%= for event <- @events do %>
    <tr>
      <td><%= event.name %></td>
      <td class="text-right">
        <span><%= link "Verfügbarkeiten ändern", to: availability_path(@conn, :edit, @person_id, event.id), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

