<div class="shift"><span class="shift-title"><%= shift_times(@shift) %></span>
    <div class="form-group">
        &nbsp;
        <%= checkbox @f, String.to_atom(@shift.id), class: "form-control", checked: person_is_available_for_shift?(@person_id, @shift) %>
    </div>
</div>
